:root {
    --color-primary: #fcbb5a;
    --color-primary-dark: #f27d42;
    --color-secondary: #2ca0da;
    --color-secondary-dark: #003552;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
    height: 100vh;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(
        to right bottom,
        var(--color-primary),
        var(--color-primary-dark)
    );
}

body {
    width: 82vw;
    height: 84vh;
    margin: 8vh 9vw;
    position: fixed;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.45);
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:global {
    .Active {
        color: var(--color-primary) !important;
    }

    .heading-1 {
        color: #000;
        font-size: 4rem;
        text-align: center;
    }

    .heading-2 {
        color: #000;
        font-size: 3.4rem;
        text-align: center;
    }

    .heading-3 {
        color: #000;
        font-size: 3rem;
        text-align: center;
    }

    .heading-4 {
        color: #000;
        font-size: 1.5rem;
        text-align: center;
    }

    .heading-5 {
        color: #000;
        font-size: 2.6rem;
        text-align: center;
        color: var(--color-primary-dark);
    }
}
