.Home {
    padding: 2rem;
    width: 100%;
    color: var(--color-primary);
    grid-column: center-start / center-end;

    &__categories {
        margin-top: 3rem;
        display: grid;
        grid-gap: 3rem;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
    }
}
