.NavBar {
    background-color: var(--color-primary);
    height: 5rem;
    padding: 0 2rem;
    border-bottom: 1px solid #eee;
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
