.Button {
    font-family: 'Montserrat', sans-serif;
    padding: 0.6rem 2.5rem;
    font-size: 2rem;
    border: none;
    font-weight: 500;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
        transform: scale(1.04);
        background-color: var(--color-primary);
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;

        &:hover {
            transform: scale(1);
        }
    }
}

.Default {
    background-color: var(--color-primary-dark);
    border-radius: 10rem;
    padding: 0.8rem 5rem;
    color: #fff;
}

.Basic {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem 2.2rem;

    &:hover {
        color: #222;
    }
}

.Rating {
    font-size: 1.3rem;
    background-color: #222;
    color: #fff;

    &:hover {
        transform: translateX(0.4rem);
        color: var(--color-primary);
        background-color: #222;
    }
}

.Remove {
    margin-left: 1rem;
    background-color: #ed5c5a;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;

    &:hover {
        background-color: #000;
        transform: scale(1);
    }
}

.Option {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;

    &:hover {
        transform: scale(1);
    }
}
